<h2>cool shit</h2>
<li>
  built 
  <a href="https://devfolio.co/projects/trustql-22c3">a query language</a> for scoring addresses based on on-chain data
</li>
<li>
  built
  <a href="https://www.gitsol.xyz/">on-chain version control</a> on solana
</li>
<li>
  [WIP] building a CLI to generate
  <a href="https://github.com/ayshptk/sdkgen">SDKs for smart contracts</a> on
  the fly
</li>
<li>
  built an app to
  <a href="https://github.com/ayshptk/gather-gated-access">token-gate gather.town access</a>
</li>
<li>
  built a CLI to generate landing pages and deploy to vercel. demo end result
  <a href="https://sample-one-mu.vercel.app/">here</a>
</li>
<video width="320" height="240" controls>
  <source src="https://github.com/ayshptk/ayushdotsh/raw/master/media/compress.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>
<li>
  <a href="https://github.com/create-anchor-app/cli"
    >create-anchor-app</a
  >
</li>
<li>
  built a
  <a href="https://www.producthunt.com/posts/side-domains">marketplace</a> for
  selling second hand domains
</li>
<li>
  built two semi-viral projects which were Product Hunt product of the day #1
  and #4
</li>

<li>hacked an analytics tool on top of google sheets</li>
